
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
}


.verify {
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify__container {
    text-align: center;
}

.verify__text {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
    line-height: 1.8;
}


.verify__button {
    display: inline-block;
    padding: 12px 28px;
    background-color: #ddd;
    color: #000;
    border-radius: 6px;
    text-decoration: none;
    margin-bottom: 20px;
}


.verify__resend {
    display: block;
    font-size: 14px;
    color: #3498db;
    text-decoration: none;
}